In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Raw_Skills_Dataset.csv")

In [4]:
df.shape

(34116, 1)

In [7]:
df.dropna(inplace = True)

In [8]:
df.shape

(34116, 1)

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.shape

(15677, 1)

In [12]:
df.head(10)

                   RAW DATA
0                  What ifs
1                 seniority
2               familiarity
3           functionalities
4                   Lambdas
5              Java Streams
6  Object Oriented analysis
7      Relational Databases
8                       SQL
9                       ORM

In [15]:
df.shape

(15677, 1)

In [13]:
x = df['RAW DATA'].str.findall(r'(^[a-z].*)')

In [14]:
x

0                       []
1              [seniority]
2            [familiarity]
3        [functionalities]
4                       []
               ...
34106                   []
34108                   []
34109     [all applicants]
34110                   []
34111        [negotiation]
Name: RAW DATA, Length: 15677, dtype: object

(15677,)